@font-face {
    font-family: 'Solomon Sans';
    src: url('../fonts/SolomonSans-SemiBold.woff2') format('woff2'),
        url('../fonts/SolomonSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Solomon Sans';
    src: url('../fonts/SolomonSans-Medium.woff2') format('woff2'),
        url('../fonts/SolomonSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}