.content p,
.p,
.content li,
.li {
	font-size: 17rem;
	line-height: (25/17) * 1;
}

.content ul,
.content ol {
}

.content b,
.b,
.content strong,
.strong {
	font-weight: 600!important;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-weight: 500;
	line-height: 1;
}

.h1,
.content h1 {
	font-size: 90rem;
	line-height: 90/80*1;
	font-weight: bold;
}

.h2,
.content h2 {
	font-size: 70rem;
}

.h3,
.content h3 {
	font-size: 50rem;
}

.h4,
.content h4 {
	font-size: 40rem;
}

.h5,
.content h5 {
	font-size: 25rem;
	line-height: 30/25*1;
}

.h6,
.content h6 {
	font-size: 20rem;
	line-height: 24/20*1;
}

.p15 {
	font-size: 15rem;
	line-height: 18/15*1;
}


.p30 {
	font-size: 30rem;
	line-height: 40/30*1;
}

@include max-screen($large_mobile) {
	.content p,
	.p,
	.content li,
	.li {
		font-size: 12px;
		line-height: 15px;
	}
	.h1,
	.content h1,
	.h2,
	.content h2,
	.h3,
	.content h3,
	.h4,
	.content h4 {
		font-size: 25px;
		line-height: 1;
	}
	.h5,
	.content h5 {
		font-size: 15px;
		line-height: 20px;
	}
	.h6,
	.content h6 {
		font-size: 15px;
	}
	.p30 {
		font-size: 25px;
		line-height: 1;
	}
}