extends ../layouts/base

append vars
	- title = 'О театре';

block content
	include ../layouts/header
	include ../layouts/search-form_gray
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| О театре
			include ../layouts/about