extends ../layouts/base

append vars
	- title = 'Детский театр';

block content
	include ../layouts/header
	include ../layouts/search-form_gray
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| Детский театр «золотой ключик»
	+b.history
		+e.top
			+e.bg
			+e.wrap.wrap
				+e.row.flex
					+e.top-col.col-sm-6
						+e.H1.title.h2.b
							| Детский театр 
							br
							| «золотой ключик»
						+e.play.play__.js-modal(data-modal="#video",data-youtube="0bU5osFV6VM")
							+e.btn
								+e.icon
									+icon('play')
							+e.text.p.b
								| Видео 
								br
								| о спектакле
					+e.top-col.col-sm-6
						+e.top-desc
							| «Золотой ключик» - поистине уникальный в своем замысле и талантливый, в воплощении, детский театр. Открыв свои двери 31 мая 1987 года, как Межшкольный детский театр он, почти сразу же, вырос из этих «детских штанишек» и стал полноценным детским театром. Его создателям – Олегу и Нине Пермяковым удалось то, что по сей день не могут повторить их коллеги. Они создали не просто театральный кружок, не просто какое-то творческое объединение, они создали самый настоящий репертуарный театр, со своими мастерскими, производственными цехами, структурой и прочими составляющими профессионального театра с одной лишь особенностью – главными в театре были дети.
		+e.big-foto
			+e.wrap.wrap
				img(src="/img/history__img2.jpg")
		+e.bottom
			+e.wrap.wrap
				+e.row.flex
					+e.column.col-sm-6
					+e.column.col-sm-6
						+e.bottom-desc.mt100
							| Сначала в театре был один коллектив, потом еще два, а сегодня их семь! И все семь – полноценные труппы со своим репертуаром, педагогами, традициями и неповторимым творческим лицом: Музыкальный театр, актерские группы «АртИшок», «Арликин» и «Пластилин», Театральная студия Анастасии Пермяковой, а также театр танца «Тип-Топ» и театр хореографии «Фентези». За спиной каждого из этих коллективов большая творческая история. Воспитанники принимают активное участие в совместном с артистами ТЮЗа творчестве: большие спектакли, новогодние кампании, фестивали и другие творческие проекты.
				+e.number-list.flex
					+e.number-item.col-min-6.col-sm-3
						+e.number-year.is-red 30 
						+e.number-text.is-gray
							| Наименований 
							br
							| в афише
					+e.number-item.col-min-6.col-sm-3
						+e.number-year.is-red 200 
						+e.number-text.is-gray
							| Cпектаклей 
							br
							| в год
					+e.number-item.col-min-6.col-sm-3
						+e.number-year.is-red 15 
							+e.SPAN.number-year._small тыс
						+e.number-text.is-gray
							| Зрителей 
							br
							| в год
					+e.number-item.col-min-6.col-sm-3
						+e.number-year.is-red 166
						+e.number-text.is-gray
							| Премьер 
							br
							| за 30 сезонов
				+e.row.flex
					+e.column.col-sm-6
					+e.column.col-sm-6
						+e.start-text.h6
							| Невероятный опыт совместного творчества, возможность творить рука об руку со взрослыми профессионалами, помогает ребятам развиваться «семимильными шагами». Весь приобретенный актерский опыт юные артисты тут же применяют на практике. Всё, чему учат молодую поросль мастера, это не просто теория, это те навыки, то ремесло, которым педагоги живут изо дня в день, являясь опытными артистами и режиссерами.
							br
							br
							| В программах каждого коллектива занятия по актерскому мастерству, сценической речи, сценического движения, вокала, хореографии. Благодаря ежегодному Международному фестивалю «Земля. Театр. Дети» ребята имеют возможность участвовать в мастер-классах, которые проводят ведущие специалисты – режиссеры и педагоги из России и других стран.
							br
							br
							| Отдельное внимание хочется уделить и детскому репертуару в котором сегодня 8 музыкальных, хореографических и драматических спектаклей, поставленных по произведениям: А.С. Пушкина, Н. Носова, Дж. Родари, Г.Х. Андерсена, А. д. С.- Экзюпери, В. Катаева, Л. Жуховицкого, а также авторский детский мюзикл Елены Шарпило «Евпатория, я люблю тебя!».
							br
							br
							| В 33 театральном сезоне, детский театр «Золотой ключик», уже в качестве студии при Крымском ТЮЗе, выпустит еще 3 премьерных спектакля в постановке Ирины Фаустовой, Елены Шарпило и Лили Муслединовой. Кроме этого запланирован ряд восстановлений и участие в большом совместном спектакле в рамках новогодней кампании 2020/2021 годов.

				include ../layouts/acting-groups
		include ../layouts/repertoire
		+e.docs.docs__
			+e.wrap.wrap
				+e.H2.title.h2 Документы
				+e.list.flex
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Распоряжение Совета министров Республики Крым о создании театра
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Устав
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать