extends ../layouts/base

append vars
	- title = 'Фестиваль';

block content
	include ../layouts/header
	include ../layouts/search-form_gray
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| Международный фестиваль «земля. театр. дети»
	+b.history
		+e.top
			+e.bg
			+e.wrap.wrap
				+e.row.flex
					+e.top-col.col-sm-6
						+e.H1.title.h2.b
							| Международный фестиваль 
							br
							| «земля. театр. дети»
						+e.play.play__.js-modal(data-modal="#video",data-youtube="0bU5osFV6VM")
							+e.btn
								+e.icon
									+icon('play')
							+e.text.p.b
								| Видео 
								br
								| о спектакле
					+e.top-col.col-sm-6
						+e.top-desc
							| Международный фестиваль «Земля. Театр. Дети» - масштабный театральный форум, ведущий детский театральный фестиваль на территории СНГ. Он по праву носит неформальное звание «Детские Канны» и является одной из старейших театральных традиций страны. Более 30 лет курортная Евпатория, ежегодно превращается в театральную столицу Крыма и собирает в гостях лучшие детские и профессиональные театры со всего мира. 
		+e.big-foto
			+e.wrap.wrap
				img(src="/img/history__img3.jpg")
		+e.festival.mt100
			+e.wrap.wrap
				+e.row.flex
					+e.column.col-sm-6
						+e.festival-years
							+e.year.is-red
								| 1991-2020
							+e.festival-desc.h5.is-gray
								| годы 
								br
								| проведения 
								br
								| фестивалей
					+e.column.col-sm-6
						+e.festival-content
							h3
								| Фестиваль доброго и искреннего театра
							p
								| Афиша фестиваля – это всегда очень яркие и самобытные спектакли в исполнении профессиональных театров и театров, где играют дети. Симбиоз жанров и направлений, возможность поэкспериментировать, а иногда и просто окунуться в детство. Классический театр и экспериментальные перфомансы, поиск и традиция, спектакли под открытым небом и камерные театры «на цыпочках». 
								br
								| Театр искренний и настоящий – вот главные критерии отбора фестивальной программы. Помимо этого, для участников и гостей организовываются: театрализованное шествие по улицам города, творческие встречи, мастер-классы, ночные показы, выездные акции в другие города полуострова, вечерние программы и спектакли под открытым небом, выставки, флешмобы, капустники, экскурсии и т.д.
							h3
								| Творческая лаборатория
							p
								| Кроме всего не стоит забывать, что «ЗЕМЛЯ. ТЕАТР. ДЕТИ» - это еще и прекрасная лаборатория, где действующие актеры и режиссеры, театральные критики (представители СТД РФ и Московского театра «Et Cetera» под руководством А. Калягина) и педагоги ведущих театральных ВУЗов страны (Театрального института им. Б. Щукина, ВГИК им. С. А. Герасимова, СГИК и ОГИК) обмениваются опытом и делятся авторскими программами, проводят мастер-классы, воркшопы и творческие встречи, а также ставят экспериментальные спектакли без репетиций.
							h3
								| Профессиональный экспертный совет и детское жюри
							p
								| Именно на нашем фестивале в 1991 году впервые родилось такое понятие, как «детское жюри». Много лет эта традиция живет на нашем празднике, а несколько лет назад работу юных коллег подкрепили обсуждениями профессионального экспертного совета. В его состав вошли режиссеры, театральные критики, заведующие театроведческими, режиссерскими и актерскими кафедрами театральных вузов России и других стран. Фестиваль традиционно делится на три программы: «детскую», «взрослую» и «образовательную» и у каждой программы есть свои куратор. Так, пока детское жюри разбирает свою программу, в соседнем зале идет шумный, но очень интеллигентный, разбор взрослых театров. 
							h3
								| Онлайн память на всю жизнь
							p
								| Во время проведения каждого фестиваля организаторы не забывают и о выпуске традиционных видеодневников, которые на протяжении всего форума транслируются на большом экране, а затем попадают на официальный канал театра на YouTube. 
								br
								| Помимо этого, артисты ТЮЗа во главе со своим неугомонным худруком Андреем Пермяковым, выпускают настоящее театральное лэйт найт шоу «СТУДИЯ 22», которое также можно найти в сети или посмотреть в эфире местного телевидения.
		+e.premium.premium__
			+e.wrap.wrap
				+e.top.flex._vertical
					+e.column.col-min-6.col-sm-8.flex._vertical
						+e.foto
							img(src="/img/foto_oleg.jpg")
						+e.info
							+e.H3.name.h3.b
								| Премия Олега 
								br
								| Пермякова
							+e.text.h5.is-gray
								| В области театрального 
								br
								| искусства
					+e.column.col-min-6.col-sm-4
						+e.prize
							img(src="/img/prize.png")
						+e.prize-content
							.h3.b
								| 8 стран 
								br
								| победителей!
							+e.states.h5.is-gray.flex
								+e.state Украина
								+e.state Казахстан
								+e.state Белоруссия
								+e.state Белоруссия
								+e.state Армения
								+e.state Казахстан
								+e.state Армения
								+e.state Украина
				+e.desc.col-sm-6
					| В 2001 году не стало режиссера, основателя театра Олега Пермякова. С тех пор евпаторийский форум посвящен его светлой памяти. На IX фестивале династией Пермяковых была учреждена Премия Олега Пермякова в области театрального искусства, которая вручается за особые заслуги. За годы проведения фестиваля её лауреатами стали театры, режиссеры и педагоги из Украины, России, Белоруссии, Польши, Болгарии, Литвы и Эстонии. С рождением внуков Олега Анатольевича появилась еще одна традиция – в день закрытия форума Даниил, Маруся и Полина Пермяковы презентуют публике статуэтки.
		+e.bottom
			+e.wrap.wrap
				+e.row.flex
					+e.column.col-sm-6
					+e.column.col-sm-6
						+e.bottom-desc.mt100
							h3.p30 Из истории:
							p
								| «Земля. Театр. Дети» был учрежден в 1991 году режиссерами Олегом и Ниной Пермяковыми. Проходил он с 25 августа по 1 сентября, как раз во время путча, окончательно развалившего СССР. Но, несмотря на это, до праздника добрались почти все делегации.
						+e.start-text.h6.mt100
							strong В первом фестивале приняли участие театры из: 
							br
							| Узбекистана, Армении, Киргизии, Тувы, Кабардино-Балкарии, Латвии, Литвы, Эстонии, Молдовы, Украины, России, США, Англии, Франции, Швеции, Болгарии, Германии, Нидерландов. 
							br
							| На разных площадках были представлены спектакли драматических, музыкальных, пластических, экспериментальных, хореографических и кукольных театров. Открытие проходило на Фестивальной площади Евпатории, которая, собственно, и была создана под этот проект. Телекомпания «Останкино» вела трансляцию с земли и неба (камера была установлена на вертолете). У берега курсировали яхты с нарядными артистами, а вечером, в преддверии потрясающего фейерверка, военные корабли устроили водную феерию.
							br
							br
							| С тех пор фестиваль проходит почти каждый год, перерывы были только в 1992, 1994, 1995 и в 1997 годах. Грандиозный проект удалось сохранить и в сложные времена перестройки и разрухи. Вот уже более 20 лет фестиваль проходит в первую неделю июля и продолжает собирать театралов разных стран и городов, расширяя границы жанров и возрастов.
							br
							br
							| За всю историю фестиваля в нем приняли участие десятки театров, среди которых: РАМТ (Москва), ТЮЗ «СамАрт» (Самара), Екатеринбургский ТЮЗ, Театр юных москвичей (Москва), Школа им. Калягина (Вятские Поляны), театр «Пиано» (Нижний Новгород), театр им. Луначарского (Севастополь), Севастопольский ТЮЗ, театры «У Нарвских ворот» и «Бродячая собачка» (С-Петербург), театр «Аритмия» (Челябинск), театр «Сорванцы» (Харьков), Русский молодежный театр (Таллинн), театр «Маска» (Клайпеда), театр «Пионер» (Враца), театр «der Spass» (Кёльн), театр марионеток Боба Крамерса (Сент-Льюис) и многие, многие другие… 
		+e.gallery.gallery__.js-container
			+e.wrap.wrap
				+e.inside
					+e.nav.flex
						+e.nav-item.js-nav-item.is-active Фото
						+e.nav-item.js-nav-item Видео
					+e.tabs
						+e.tab.js-tab.is-active
							+e.slider.swiper-container.js-slider#gallery(data-slidesPerView="auto", data-centeredSlides="true")
								.swiper-wrapper.js-gallery
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide.jpg")
											img(src="/img/gallery__slide.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide2.jpg")
											img(src="/img/gallery__slide2.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide3.jpg")
											img(src="/img/gallery__slide3.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide.jpg")
											img(src="/img/gallery__slide.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide2.jpg")
											img(src="/img/gallery__slide2.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide3.jpg")
											img(src="/img/gallery__slide3.jpg")
								+e.inside
									+e.bottom.flex._vertical._justify
										+e.pagination.swiper-pagination
										+e.arrows.nav-slider__.flex
											+e.arrow._prev.swiper-prev
												+icon('prev')
											+e.arrow._next.swiper-next
												+icon('next')
		+e.docs.docs__
			+e.wrap.wrap
				+e.H2.title.h2 Документы для участников
				+e.list.flex
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Пресс-релиз
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Положение
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Заявка
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать
					+e.A.item.col-min-6.col-sm-3(href="#")
						+e.name
							| Программа фестиваля
						+e.download.download__.is-red
							+e.icon
								+icon('arrowDownload')
							+e.text.p.b
								| Скачать