extends ../layouts/base

append vars
	- title = 'История театра';

block content
	include ../layouts/header
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| История театра
	+b.history
		+e.top
			+e.bg
			+e.wrap.wrap
				+e.row.flex
					+e.top-col.col-sm-6
						+e.H1.title.h2.b
							| История 
							br
							| театра
					+e.top-col.col-sm-6
						+e.top-desc
							| Крымский Государственный театр юного зрителя был создан в октябре 2019 года на базе Международного центра театрального искусства «Золотой ключик», однако сами «ключики» (а именно так, с легкой руки крымских журналистов называют актеров и работников театра во многих уголках земного шара) ведут отчет своей биографии с 31 мая 1987 года, когда на основной сцене театра (тогда единственной) состоялась премьера спектакля «Золотой ключик» по произведению А. Толстого. Именно этот спектакль не только стал своеобразной отправной точкой, но и дал название легендарному детскому театру.
		+e.start
			+e.wrap.wrap
				+e.row.flex._start
					+e.start-info.col-sm-6.flex._vertical
						+e.year.col-min-6.is-red
							| 1987
						+e.text.col-min-6.h5.is-gray
							| Нина 
							br
							| и Олег 
							br
							| Пермяковы
					+e.column.col-sm-6
						+e.start-img.IMG(src="/img/nina-oleg.jpg")
						+e.start-text.h6
							| На открытие театра приехала наша педагог Наталья Борисовна Тагунова, она нам и подсказала название.
						+e.start-quote.quote__
							+e.icon
								+icon('quote')
							+e.text
								| Название, которое таит в себе скрытые смыслы: «ключ от сердец», «ключ от дверей в прекрасное». 
							+e.avtor.p15.is-gray
								| Нина Пермякова
						+e.start-text.h6
							| Олег и  Нина Пермяковы создали театр, который не только стал осуществлением мечты, но и на протяжении десятилетий неизменно был и остается лидером театрального движения в Крыму и за его пределами. На «ровном месте» в курортной Евпатории возник детский театр, который в скором будущем стал центром, а в последствии получил статус международного.
				+e.number-list.flex
					+e.number-item.col-min-6.col-sm-3
						+e.number-year._small.is-red 1987
						+e.number-text.is-gray
							| Межшкольный 
							br
							| детский театр
					+e.number-item.col-min-6.col-sm-3
						+e.number-year._small.is-red 1989
						+e.number-text.is-gray
							| Детский театральный 
							br
							| центр-комплекс
					+e.number-item.col-min-6.col-sm-3
						+e.number-year._small.is-red 1995
						+e.number-text.is-gray
							| Международный детский 
							br
							| центр-комплекс
					+e.number-item.col-min-6.col-sm-3
						+e.number-year._small.is-red 2014
						+e.number-text.is-gray
							| Международный центр 
							br
							| театрального искусства
				+e.row.flex
					+e.column.col-sm-6
					+e.column.col-sm-6
						+e.start-text.h6
							| Первые годы на сценах театра работали две труппы: детская «Золотой ключик» под руководством Нины Пермяковой и взрослая «Учительский театр» под руководством Олега Пермякова. Коллектив сотрудников в то время состоял из 11 человек. 
							br
							| Сегодня в Крымском театре юного зрителя служат 150 сотрудников, из низ 9 выпускников центра. Первыми премьерами стали спектакли: «Золотой ключик» А. Толстого (31 мая 1987 г., реж. Н. Пермякова), «Мальчиш-Кибальчиш» А. Гайдара (27 декабря 1987 г., реж. О. Пермяков), «Кошкин дом» С. Маршака (20 марта 1988 г., реж. Н. Пермякова), «Про Федота-стрельца, удалого молодца» Л. Филатова (20 апреля 1988 г., реж. О Пермяков) и  «Какое счастье?!» (31 мая 1988 г., реж. О. Пермяков). Всего за 33 театральных сезона состоялось 173 премьеры спектаклей для детей и взрослых в постановке: Нины, Олега, Андрея, Сергея и Анастасии Пермяковых, Олега Кушлю, Виталия Нарышкина, Павла Костицына, Бориса Завальнюка, Елены Астраханцевой, А. Кропотовой, Н. Сулимовской, Елены Кулишовой, А. Трапезниковой, И. Котелевич, Д. Полякова, И. Фаустовой, Е. Макарченко, В. Свешниковой, Е. Шарпило, Л. Муслединовой, С. Толстых, С. Новикова, А. Кравец, Н. Романовой.