extends ../layouts/base

append vars
	- title = 'Главная';

block content
	include ../layouts/header_main
	include ../layouts/main-slider
	include ../layouts/poster
	include ../layouts/news
	include ../layouts/last-poster
	include ../layouts/contact