extends ../layouts/base

append vars
	- title = 'Спектакль внутренняя';

block content
	include ../layouts/header_main
	include ../layouts/search-form
	+b.case
		+e.main
			+e.bg(style="background-image: url(/app/img/case__bg.jpg)")
			+e.wrap.wrap
				+e.UL.breadcrumbs.breadcrumbs__._white.flex
					+e.LI.item
						a(href="#") Главная
					+e.LI.item
						a(href="#") Спектакли
					+e.LI.item
						| «Сказка про Федота-стрельца»
			+e.main-bottom
				+e.wrap.wrap.flex._bottom
					+e.main-column
						+e.main-cat.flex
							+e.tag Премьера
							+e.age-cat 16+
						+e.H2.main-title.h2.b
							| «Сказка про 
							br
							| Федота-стрельца»
					+e.main-column
						+e.play.play__.js-modal(data-modal="#video",data-youtube="0bU5osFV6VM")
							+e.btn._white
								+e.icon
									+icon('play')
							+e.text.p.b
								| Видео 
								br
								| о спектакле
						br
						+e.A.main-btn.btn__._ticket(href="#")
							+e.text Купить билет
							+e.ticket._left
								+icon('ticket')
							+e.ticket._right
								+icon('ticket')
		+e.info
			+e.wrap.wrap
				+e.inside-wrap
					+e.info-list.flex
						+e.info-item
							+e.info-label.is-gray.p15 Продолжительность
							+e.info-desc.h6 2ч 15м (1 антракт)
						+e.info-item
							+e.info-label.is-gray.p15 Автор:
							+e.info-desc.h6 Леонид Филатов
						+e.info-item
							+e.info-label.is-gray.p15 Премьера
							+e.info-desc.h6 23 Июня 2019 
						+e.info-item
							+e.info-label.is-gray.p15 Жанр:
							+e.info-desc.h6 Киберпанк – комедия
		+e.content
			+e.wrap.wrap
				+e.inside-wrap
					+e.content-top.p30
						| Сюжет сказки прост: царь хочет погубить главного героя Федота-стрельца и заполучить его красавицу-жену. Для этого хитрый правитель придумывает для героя невыполнимые задания. Когда вопреки всему Федот справляется с испытаниями, царь делает неожиданный ход и приказывает принести «То-Чаво-Не-Может-Быть».
					+e.content-bottom
						p
							| «Сказ про Федота-стрельца» — комедия с элементами сатиры, написанная Леонидом Филатовым в 1985 году прошлого столетия и рассказанная режиссером Пермяковым языком современного театра в двадцатом по счету спектакле.
						p
							| В театре «Золотой ключик» сказку в стихах ставили не единожды. Первым был основатель Олег Пермяков и его взрослый театр «Студия Эксперимент» (1988 год). Затем за постановку брались Виталий Нарышкин и Елена Кулишова (2001 год); в 2011 году – Ирина Фаустова. В обоих случаях в спектаклях играли дети.
						p
							| Сегодня в репертуаре Крымского ТЮЗа спектакль «Сказ про Федота-стрельца» режиссера Андрея Пермякова – смелая интерпретация хрестоматийного текста, дополненная интересным режиссерским замыслом «путешествия во времени», необычайной фантасмагоричностью, каскадами остроумия и изворотливости, образной сценографией, контрастным музыкальным оформлением (в спектакле удачно соседствуют Чайковский, Стравинский, Дафт Панк и Кемикал Бразерс) и футуристическими русскими костюмами. «Федот» — это не просто рефлексия на сегодняшний день или бытовой пересказ, это попытка постановочной группы заглянуть в далекое будущее и с образным предчувствием продолжить фантазировать, искать новые смыслы, а порою и подтексты в, казалось бы, «народной» сказке Филатова.
		+e.gallery.gallery__.js-container
			+e.wrap.wrap
				+e.inside
					+e.nav.flex
						+e.nav-item.js-nav-item.is-active Фото
						+e.nav-item.js-nav-item Видео
					+e.tabs
						+e.tab.js-tab.is-active
							+e.slider.swiper-container.js-slider#gallery(data-slidesPerView="auto", data-centeredSlides="true")
								.swiper-wrapper.js-gallery
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide.jpg")
											img(src="/img/gallery__slide.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide2.jpg")
											img(src="/img/gallery__slide2.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide3.jpg")
											img(src="/img/gallery__slide3.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide.jpg")
											img(src="/img/gallery__slide.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide2.jpg")
											img(src="/img/gallery__slide2.jpg")
									+e.slide.swiper-slide
										+e.A.item(href="/app/img/gallery__slide3.jpg")
											img(src="/img/gallery__slide3.jpg")
								+e.inside
									+e.bottom.flex._vertical._justify
										+e.pagination.swiper-pagination
										+e.arrows.nav-slider__.flex
											+e.arrow._prev.swiper-prev
												+icon('prev')
											+e.arrow._next.swiper-next
												+icon('next')
		+e.wrap.wrap
			+e.inside-wrap
				+e.creators
					+e.H2.creators-title.h3 Создатели
					+e.creators-list.flex
						+e.creators-item.h6
							+e.creators-label Режиссер: 
							+e.creators-name Андрей Пермяков
						+e.creators-item.h6
							+e.creators-label Художник:
							+e.creators-name Андрей Пермяков
						+e.creators-item.h6
							+e.creators-label Композитор:
							+e.creators-name Димитрий Николаев
						+e.creators-item.h6
							+e.creators-label Хореограф:
							+e.creators-name Димитрий Николаев
						+e.creators-item.h6
							+e.creators-label Режиссер: 
							+e.creators-name Андрей Пермяков
						+e.creators-item.h6
							+e.creators-label Художник:
							+e.creators-name Андрей Пермяков
						+e.creators-item.h6
							+e.creators-label Композитор:
							+e.creators-name Димитрий Николаев
						+e.creators-item.h6
							+e.creators-label Хореограф:
							+e.creators-name Димитрий Николаев
				+e.artists
					+e.artists-head
						+e.H2.artists-title.h3.b Артисты
						+e.artists-icon
					+e.artists-inside
						+e.artists-list.flex
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо
							+e.artists-item
								+e.artists-foto
									img(src="/img/ava_elena.jpg")
								+e.artists-info
									+e.artists-name.b Елена Шарпило
									+e.artists-position.is-gray Действующее лицо