extends ../layouts/base

append vars
	- title = 'Люди театра';

block content
	include ../layouts/header
	include ../layouts/search-form_gray
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| Люди театра
	+b.team
		+e.wrap.wrap
			+e.top
				+e.row.flex
					+e.top-col.col-sm-6
						+e.H1.title.h2.b
							| Люди театра
					+e.top-col.col-sm-6
						+e.top-desc
							| Театр не возможен без талантливых, трудолюбивых и преданных своему делу людей. Так повелось исторически, что наш театр стал вторым домом не только для крымских профессионалов, но и для нескольких десятков артистов и людей театра, которые переехали в Евпаторию из разных уголков России, ради служения в Крымском ТЮЗе.
			+e.nav.nav-dots__.js-mobile-select
				+e.head
					+e.label.js-mobile-label
					+e.icon
						+icon('arrowSelect')
				+e.list.flex
					+e.item.js-cat-item.js-mobile-item.is-active
						| Режиссеры
					+e.item.js-cat-item.js-mobile-item Артисты
					+e.item.js-cat-item.js-mobile-item Руководство
					+e.item.js-cat-item.js-mobile-item Художественно-постановочная часть
			+e.tabs
				+e.tab.is-active.js-cat-tab
					+e.list.flex
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team6.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team7.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
				+e.tab.js-cat-tab
					+e.list.flex
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team6.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team7.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
				+e.tab.js-cat-tab
					+e.list.flex
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team6.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team7.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
				+e.tab.js-cat-tab
					+e.list.flex
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team6.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team7.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team1.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team2.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team3.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team4.jpg")
							+e.name Андрей Пермяков
							+e.position Должность
						+e.A.item.col-min-6.col-sm-4.col-md-3(href="#")
							+e.foto
								img(src="/img/team5.jpg")
							+e.name Андрей Пермяков
							+e.position Должность