extends ../layouts/base

append vars
	- title = 'Люди театра';

block content
	include ../layouts/header
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					a(href="#") Люди 
				+e.LI.item
					| Андрей Пермяков
	+b.team._single
		+e.wrap.wrap
			+e.single
				+e.row.flex._justify
					+e.single-foto-wrap.js-fixed
						+e.single-foto.js-fixed-item
							img(src="/img/team_big.jpg")
					+e.single-col.col-sm-6
						+e.H1.single-title.h2.b
							| Андрей Олегович Пермяков
						+e.single-position.b.h5
							| Художественный руководитель Крымского государственного театра юного зрителя
						+e.single-desc
							| Режиссер, актер театра и кино 
							br
							| Заслуженный деятель искусств АРК 
							br
							| Лауреат Высшей театральной премии Крыма «Золотой грифон» (2016, 2017, 2019)
						+e.content.content
							h2
								| Биография
							p
								| Родился в Орловской области 17 ноября 1979 года в семье двух режиссеров Нины и Олега Пермяковых. В 1981 году вместе с родителями переехал в Евпаторию. Учился в гимназии им. Ильи Сельвинского (1987 – 1997 г). С 1987 года занимался в театре «Золотой ключик», играл на сцене, писал стихи и песни. Кроме этого, занимался вокалом, хореографией, живописью и музыкой по классу гитары. В 2002 году окончил Киевский Национальный Университет культуры и искусств. С 2002 года служит в театре. Создатель и куратор Республиканского медиапортала о жизни театров в Крыму и Севастополе 
								a(href="#") «Крымский театралЪ»
								| . Художественный руководитель  Международного  фестиваля 
								a(href="#") «Земля. Театр. Дети»
								| . Создатель молодежного театра 
								a(href="#") «Студия 22»
								| . В ноябре 2017 года «Студия 22» отметила свое 10-летие. В октябре 2019 года театр получил профессиональный статус и стал первым в Крыму театром юного зрителя. 
								br
								br
								| С 2014 года член СТД РФ. 
								br
								| С 2016 года член правления Крымского регионального отделения СТД РФ.
							h2
								| Лауреат фестивалей
							p
								| Международный фестиваль 
								strong «Магия сцены», 
								| Таллинн, Эстония;
								br
								| Международный фестиваль 
								strong «Золотая репка», Самара, Россия;
								br
								| Международный фестиваль «Янтарная заря» (2013, 2015), Клайпеда, Литва;
								br
								| Международный фестиваль «Avanscena», Каунас, Литва;
								br
								| Международный фестиваль «Магия сцены 2013», Таллинн, Эстония;
								br
								| Международный фестиваль «ПоМост», Новокуйбышевск, Россия; 
								br
								| Международный фестиваль «Земля. Театр. Дети», Евпатория, Россия; 
								br
								| Лауреат Высшей театральной премии Крыма «Золотой грифон» в номинации «Лучшая режиссерская работа» за спектакль «Федора» (2016), Симферополь, Россия;
								br
								| Лауреат XVIII Международного фестиваля театра и кино «Боспорские агоны» в номинации «За блистательное воплощение русской народной сказки» за спектакль «ГУСИЛЕБЕДИ.RU», Керчь, Россия;
								br
								| Лауреат Высшей театральной премии Крыма «Золотой грифон» в номинации «Лучшая роль второго плана» за спектакль «Питер Пэн» (2017), Симферополь, Россия;
								br 
								| Лауреат фестиваля «Сказочное королевство» в номинации «Королевский злодей» за роль Бабы-Яги в спектакле «ГУСИЛЕБЕДИ.RU» (2017), Севастополь, Россия)
								br
								| Лауреат Высшей театральной премии Крыма «Золотой грифон» в номинации «Лучший режиссер» за спектакль «Женитьба Бальзаминова» и «Лучший спектакль для детей и молодежи» за постановку спектакля «Собака» (2019), Симферополь, Россия.