extends ../layouts/base

append vars
	- title = 'Вакансии';

block content
	include ../layouts/header
	+b.page
		+e.wrap.wrap
			+e.UL.breadcrumbs.breadcrumbs__.flex
				+e.LI.item
					a(href="#") Главная
				+e.LI.item
					| Вакансии
			+e.row.flex_justify
				+e.sidebar.sidebar__
					+e.nav.js-mobile-select
						+e.nav-head
							+e.nav-label.js-mobile-label
							+e.nav-icon
								+icon('arrowSelect')
						+e.nav-list
							+e.A.nav-item.js-mobile-item(href="#") Основные сведения
							+e.A.nav-item.js-mobile-item(href="#") Документы
							+e.A.nav-item.js-mobile-item(href="#") Политика обработки персональных данных
							+e.A.nav-item.js-mobile-item(href="#") Правила продажи и возврата билетов
							+e.A.nav-item.js-mobile-item(href="#") Положение о платных услугах
							+e.A.nav-item.js-mobile-item(href="#") Антикоррупционная политика
							+e.A.nav-item.js-mobile-item(href="#") Материально-техническое обеспечение
							+e.A.nav-item.js-mobile-item.is-active(href="#") Вакансии
				+e.content
					+e.H1.title.h3 Вакансии
					include ../layouts/vacancy