+b.about
	+e.H2.title.h2 О театре
	+e.list.flex
		+e.column
			+e.A.item(href="/ршыещкн.html")
				+e.IMG.img(src="/img/about1.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| История
					+e.arrow
						+icon('arrowRight')
		+e.column
			+e.A.item(href="#")
				+e.IMG.img(src="/img/about2.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| Детский театр 
						br
						| "Золотой ключик
					+e.arrow
						+icon('arrowRight')
		+e.column
			+e.A.item(href="#")
				+e.IMG.img(src="/img/about3.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| Международный фестиваль 
						br
						| "ЗЕМЛЯ. ТЕАТР. ДЕТИ"
					+e.arrow
						+icon('arrowRight')
		+e.column
			+e.A.item(href="/docs.html")
				+e.IMG.img(src="/img/about4.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| Техническая 
						br
						| информация
					+e.arrow
						+icon('arrowRight')
		+e.column
			+e.A.item(href="/docs.html")
				+e.IMG.img(src="/img/about5.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| Документы
					+e.arrow
						+icon('arrowRight')
		+e.column
			+e.A.item(href="/vacancy.html")
				+e.IMG.img(src="/img/about6.jpg")
				+e.bottom.flex._justify._vertical
					+e.item-title
						| Вакансии
					+e.arrow
						+icon('arrowRight')