+b.acting-groups
	+e.head.flex._justify._vertical
		+e.H2.title.h2 Актерские группы
		+e.nav.nav-slider__.flex
			+e.arrow._prev
				+icon('prev')
			+e.arrow._next
				+icon('next')
	+e.slider.swiper-container.js-slider-groups
		.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups1.jpg")
					+e.item-title.p30.b
						| Музыкальный театр 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_sergey.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Сергей Толстых
							+e.icon
								+icon('info')
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups2.jpg")
					+e.item-title.p30.b
						| Актерская группа «пластилин» 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_elena.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Елена Шарпило
							+e.icon
								+icon('info')
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups3.jpg")
					+e.item-title.p30.b
						| Актерская группа «пластилин» 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_sergey.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Сергей Толстых
							+e.icon
								+icon('info')
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups4.jpg")
					+e.item-title.p30.b
						| Театра танца «Тип-Топ»
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_nastay.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Анастасия Кравец
							+e.icon
								+icon('info')
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups5.jpg")
					+e.item-title.p30.b
						| Актерская группа «Арлекин»
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_lilay.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Лиля Муслединова
							+e.icon
								+icon('info')
			+e.slide.swiper-slide
				+e.item
					+e.foto.IMG(src="/img/groups6.jpg")
					+e.item-title.p30.b
						| Театральной студии Анастасии Пермяковой
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_nastay2.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Анастасия Кравец
							+e.icon
								+icon('info')