+b.acting-groups
	+e.head.flex._justify._vertical
		+e.H2.title.h2 Актерские группы
		+e.nav.nav-slider__.flex
			+e.arrow._prev
				+icon('prev')
			+e.arrow._next
				+icon('next')
	+e.slider.swiper-container.js-slider-groups
		.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups1.jpg")
					+e.item-title.p30.b
						| Музыкальный театр 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_sergey.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Сергей Толстых
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									+e.tooltip-close
										+icon('close')
									p
										| Актер драмы, режиссёр, руководитель актёрской группы «Пластилин»
									p
										| Сергей Александрович окончил Орловский Государственный институт искусств и культуры по специальности – режиссер любительского театра, педагог. Мастер курса и педагог по режиссуре – В.Ю. Иванов. В спектаклеграфии режиссера 7 спектаклей, из них – 4 спектакля с юными артистами группы «ПЛАСТИЛИН». В актерской копилке Сергея Александровича около 30 разноплановых ролей в театре и кино.
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups2.jpg")
					+e.item-title.p30.b
						| Актерская группа «пластилин» 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_elena.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Елена Шарпило
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									+e.tooltip-close
										+icon('close')
									p
										| Актриса драмы, педагог, режиссёр, руководитель актерской группы «Арлекин» 
									p
										| Окончила Крымское училище культуры по специальности «Режиссер массовых зрелищ». Куратор и педагог по режиссуре и актерскому мастерству – Булгакова Р.И. Лиля Нуриевна работает в театре с 2002 года. В спектаклеграфии режиссера – 11 спектаклей. Кроме этого, за годы работы в театре, она создала 25 ярких, самобытных образов.
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups3.jpg")
					+e.item-title.p30.b
						| Актерская группа «пластилин» 
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_sergey.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Сергей Толстых
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									+e.tooltip-close
										+icon('close')
									p
										| Актер драмы, режиссёр, руководитель актёрской группы «Пластилин»
									p
										| Сергей Александрович окончил Орловский Государственный институт искусств и культуры по специальности – режиссер любительского театра, педагог. Мастер курса и педагог по режиссуре – В.Ю. Иванов. В спектаклеграфии режиссера 7 спектаклей, из них – 4 спектакля с юными артистами группы «ПЛАСТИЛИН». В актерской копилке Сергея Александровича около 30 разноплановых ролей в театре и кино.
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups4.jpg")
					+e.item-title.p30.b
						| Театра танца «Тип-Топ»
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_nastay.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Анастасия Кравец
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									p
										| Педагог, хореограф-постановщик, руководитель Театра танца 
										u «Тип-Топ» 
									p
										| Окончила «Школу-студию хореографических миниатюр» (рук. Сергей и Светлана Куниц), направление — классическая, народная и современная хореография, а после филиал Киевского национального университета культуры и искусств, отделение классической и современной хореографии. Педагоги по классической и современной хореографии: заслуженный работник образования Республики Крым, отличник образования Украины Н.И. Падас, заслуженный работник культуры Украины О.Б. Погребищенко. В спектаклеграфии Анастасии Павловны два спектакля и множество хореографических номеров. Воспитанники мастера – постоянные участники общих спектаклей театра, новогоних шоу и фестивалей. Как хореограф-постановщик, регулярно работает режиссерами ТЮЗа над созданием спектаклей.
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups5.jpg")
					+e.item-title.p30.b
						| Актерская группа «Арлекин»
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_lilay.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Лиля Муслединова
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									+e.tooltip-close
										+icon('close')
									p
										| Актриса драмы, педагог, режиссёр, руководитель актерской группы «Арлекин» 
									p
										| Окончила Крымское училище культуры по специальности «Режиссер массовых зрелищ». Куратор и педагог по режиссуре и актерскому мастерству – Булгакова Р.И. Лиля Нуриевна работает в театре с 2002 года. В спектаклеграфии режиссера – 11 спектаклей. Кроме этого, за годы работы в театре, она создала 25 ярких, самобытных образов.
			+e.slide.swiper-slide
				+e.item
					+e.foto
						img(src="/img/groups6.jpg")
					+e.item-title.p30.b
						| Театральной студии Анастасии Пермяковой
					+e.bottom.flex._vertical
						+e.ava.IMG(src="/img/ava_nastay2.png")
						+e.info
							+e.position.p15 Руководитель
							+e.name.h6.b Анастасия Кравец
							+e.icon
								+icon('info')
								+e.icon-btn
								+e.tooltip
									+e.tooltip-close
										+icon('close')
									p
										| Актриса драмы, педагог, режиссёр, руководитель Театральной студии Анастасии Пермяковой
									p
										| Окончила Орловский Государственный институт искусств и культуры по специальности – режиссер любительского театра, педагог. Мастер курса и педагог по режиссуре – О. В. Князева. Анастасия Александровна работает в театре с 2006 года. В спектаклеграфии режиссера более 20 спектаклей. Среди работ – совместные музыкальные шоу, спектакли с артистами ТЮЗа, а также два спектакля с воспитанниками собственной студии. Помимо этого, в творческой биографии актрисы, около 20 ролей в театре и кино.