+b.contact
	+e.wrap.wrap
		+e.H2.title.h2 Контакты
		+e.row.flex._justify
			+e.column
				+e.adress.h5.b
					| Российская Федерация, Республика Крым, 297408 Евпатория, ул. Бартенева, 1-5
			+e.column
				+e.label.p.is-gray График работы кассы
				+e.desc.h6.b
					| Будни с 12:00 - 18:00
					br
					| Выходные с 10:00 - 18:00
					br
					| Обед с 13:00 - 14:00
					br
					span.is-red Выходной — ПН
			+e.column
				+e.label.p.is-gray Администратор
				+e.A.phone.h5.b(href="tel:+79787535300") +7 978 753 53 00
			+e.column
				+e.label.p.is-gray Приемная
				+e.A.phone.h5.b(href="tel:+73656960457") +7 365 696 04 57
			+e.column
				+e.label.p.is-gray Е-mail
				+e.A.phone.h5.b(href="mailto:3656962524@mail.ru") 3656962524@mail.ru
		+e.map.map#map(data-len="45.191536",data-lng="33.372781")