+b.docs
	+e.list.flex
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Распоряжение Совета министров Республики Крым о создании театра
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Устав
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Приказ о назначении руководителя учреждения Н.П. Пермяковой
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Структура организации
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Руководящий состав
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Режим рабочего времени отдельных работников
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Распоряжение Совета министров Республики Крым о создании театра
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Устав
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Приказ о назначении руководителя учреждения Н.П. Пермяковой
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Структура организации
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Руководящий состав
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Режим рабочего времени отдельных работников
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать
		+e.A.item.col-min-6.col-sm-4(href="#")
			+e.name
				| Структура организации
			+e.download.download__.is-red
				+e.icon
					+icon('arrowDownload')
				+e.text.p.b
					| Скачать