+b.HEADER.header._main
	+e.wrap.wrap
		+e.row.flex_justify
			+e.column.col-sm-6.flex_vertical
				+e.A.logo(href="main.html")
					img(src="/app/img/logo.svg")
				+e.vr
				+e.social.social__._middle._white.flex
					+e.A.link(href="#")
						+icon('vk')
					+e.A.link(href="#")
						+icon('fb')
					+e.A.link(href="#")
						+icon('youtube')
					+e.A.link(href="#")
						+icon('instagram')
			+e.column.col-sm-6.flex._vertical._justify
				+e.NAV.nav
					+e.A.link(href="#") О театре
					+e.A.link(href="#") Проекты
					+e.A.link(href="#") Новости
					+e.A.link(href="#") Афиша
					+e.A.link(href="#") Люди театра
				+e.search
					+e.search-btn
						+icon('search')
					+e.search-close
						+icon('close')
				+e.burger
					+icon('burger')