+b.info
	+e.content
		p
			| Полное и сокращенное наименование:
		p
			| Государственное автономное учреждение культуры Республики Крым «Крымский государственный театр юного зрителя» (ГАУК РК «КГ ТЮЗ»)
		p
			| Учредитель: 
			br
			u Министерство культуры Республики Крым
		p
			| Адрес: 
			br
			strong
				| 297408 Российская Федерация, Республика Крым, Евпатория, ул. Бартенева, 1-5
	+e.map.map#map(data-len="45.191536",data-lng="33.372781")
	+e.list
		+e.item.flex
			+e.column.col-min-4
				+e.H3.item-title
					| Контактные 
					br
					| телефоны:
			+e.column.col-min-4
				+e.item-desc
					+e.item-label.p Директор театра
					+e.item-text.h6.b
						a(href="tel:03656960457") 0 (36569) 6-04-57
				+e.item-desc
					+e.item-label.p Администрация, пресс-служба центра
					+e.item-text.h6.b
						a(href="tel:03656962524") 0 (36569) 6-25-24
						span.b.is-gray_light  /  
						a(href="tel:+79787535300") +7 (978) 753-53-00
				+e.item-desc
					+e.item-label.p Касса театра (Бронирование билетов и льгот)
					+e.item-text.h6.b
						a(href="tel:+79781492587") +7 (978) 149-25-87
			+e.column.col-min-4
				+e.item-desc
					+e.item-label.p «Красный зал» (основная сцена)
					+e.item-text.h6.b
						a(href="tel:03656932573") 0 (36569) 3-25-73
				+e.item-desc
					+e.item-label.p Отдел кадров
					+e.item-text.h6.b
						a(href="tel:03656962565") 0 (36569) 6-25-65
		+e.item.flex
			+e.column.col-min-4
				+e.H3.item-title
					| E-mail:
			+e.column.col-min-4
				+e.item-desc
					+e.item-label.p Пресс-служба центра
					+e.item-text.h6.b
						a(href="mailto:3656962524@mail.ru") 3656962524@mail.ru
				+e.item-desc
					+e.item-label.p Заместитель директора
					+e.item-text.h6.b
						a(href="mailto:bsibsi@mail.ru") bsibsi@mail.ru
			+e.column.col-min-4
				+e.item-desc
					+e.item-label.p Художественный руководитель театра
					+e.item-text.h6.b
						a(href="mailto:a_permyakoff@mail.ru") a_permyakoff@mail.ru
		+e.item.flex
			+e.column.col-min-4
				+e.H3.item-title
					| График работы:
			+e.column.col-min-4
				+e.item-desc
					+e.item-label.p Касса
					+e.item-text.h6.b
						| Будни с 12:00 - 18:00
						br
						| Выходные с 10:00 - 18:00
						br
						| Обед с 13:00 - 14:00
						br
						span.is-red Выходной — ПН
				+e.item-desc
					+e.item-label.p Галерея актуального искусства «theHARASHO»
					+e.item-text.h6.b
						| с 9:00 до 18:00
						br
						span.is-red Выходной — ПН
			+e.column.col-sm-4
				+e.item-desc
					+e.item-label.p Администрация
					+e.item-text.h6.b
						| 8:30 - 17:30
						br
						| Обед с 13:00 - 14:00
						br
						span.is-red Выходной — ПН