+b.last-poster.flex
	+e.A.item(href="#")
		+e.img
			img(src="/img/last-poster1.jpg")
		+e.title
			| Детский театр 
			br
			| “Золотой ключик”
			+e.title-arrow
				+icon('arrowRight')
	+e.A.item(href="#")
		+e.img
			img(src="/img/last-poster2.jpg")
		+e.title
			| Международный фестиваль 
			br
			| “Земля, театр, дети”
			+e.title-arrow
				+icon('arrowRight')
	+e.A.item(href="#")
		+e.img
			img(src="/img/last-poster3.jpg")
		+e.title
			| Проекты
			+e.title-arrow
				+icon('arrowRight')