+b.main-slider.swiper-container.js-slider(data-slidesPerView="1", data-centeredSlides="false")
	.swiper-wrapper
		+e.slide.swiper-slide(style="background-image: url(/app/img/main__slide1.jpg)")
			+e.wrap.wrap
				+e.row.flex._end
					+e.column.col-sm-6.flex._bottom
						+e.content
							+e.H2.title.h2
								| Тот самый 
								br
								| мюнгхаузен
							+e.desc.p
								| Дорогие наши, уважаемые зрители! В соответствии с Указом Главы Республики Крым от 17 марта 2020 года № 63-У «О введении режима повышенной готовности на территории
							+e.A.btn.btn__._ticket(href="#")
								+e.text Подробнее
								+e.ticket._left
									+icon('ticket')
								+e.ticket._right
									+icon('ticket')
		+e.slide.swiper-slide(style="background-image: url(/app/img/main__slide2.jpg)")
			+e.wrap.wrap
				+e.row.flex._end
					+e.column.col-sm-6.flex._bottom
						+e.content
							+e.H2.title.h2
								| Тот самый 
								br
								| мюнгхаузен
							+e.desc.p
								| Дорогие наши, уважаемые зрители! В соответствии с Указом Главы Республики Крым от 17 марта 2020 года № 63-У «О введении режима повышенной готовности на территории
							+e.A.btn.btn__._ticket(href="#")
								+e.text Подробнее
								+e.ticket._left
									+icon('ticket')
								+e.ticket._right
									+icon('ticket')
		+e.slide.swiper-slide(style="background-image: url(/app/img/main__slide3.jpg)")
			+e.wrap.wrap
				+e.row.flex._end
					+e.column.col-sm-6.flex._bottom
						+e.content
							+e.H2.title.h2
								| Международный фестиваль «земля. театр. дети»
							+e.desc.p
								| Дорогие наши, уважаемые зрители! В соответствии с Указом Главы Республики Крым от 17 марта 2020 года № 63-У «О введении режима повышенной готовности на территории
							+e.A.btn.btn__._ticket(href="#")
								+e.text Подробнее
								+e.ticket._left
									+icon('ticket')
								+e.ticket._right
									+icon('ticket')
		+e.slide.swiper-slide(style="background-image: url(/app/img/main__slide4.jpg)")
			+e.wrap.wrap
				+e.row.flex._end
					+e.column.col-sm-6.flex._bottom
						+e.content
							+e.H2.title.h2
								| «Сказ про 
								br
								| Федота-стрельца»
							+e.desc.p
								| Дорогие наши, уважаемые зрители! В соответствии с Указом Главы Республики Крым от 17 марта 2020 года № 63-У «О введении режима повышенной готовности на территории
							+e.A.btn.btn__._ticket(href="#")
								+e.text Подробнее
								+e.ticket._left
									+icon('ticket')
								+e.ticket._right
									+icon('ticket')
	+e.nav
		+e.wrap.wrap.flex._justify
			+e.arrow._prev.swiper-prev
				+icon('prev')
			+e.arrow._next.swiper-next
				+icon('next')
	+e.wrap.wrap
		+e.pagination.swiper-pagination