+b.news._main
	+e.wrap.wrap
		+b.head-screen.flex._justify._vertical
			+e.left.flex._vertical
				+e.H2.title.h3 Новости
				+e.A.link.arrow-link__.h6.is-red(href="#")
					+e.text Больше новостей
					+e.icon
						+icon('next')
			+e.right
				+e.nav.nav-slider__.flex
					+e.arrow._prev
						+icon('prev')
					+e.arrow._next
						+icon('next')
		+e.slider.swiper-container
			.swiper-wrapper
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020
				+e.slide.swiper-slide
					+e.A.item(href="#")
						+e.item-img
							img(src="/img/news_thumb.jpg")
						+e.item-title.h5
							| Как купить билет онлайн в крымский театр юного зрителя
						+e.item-date 26.02.2020