+b.poster._main
	+e.wrap.wrap
		+e.top.flex._vertical
			+e.top-column.col-sm-6
				+e.nav.flex
					+e.A.nav-link.h3.is-active(href="#") Март
					+e.A.nav-link.h3(href="#") Апрель
					+e.A.nav-link.h3(href="#") Май
			+e.top-column.col-sm-3
				+e.LABEL.checkbox.checkbox__
					+e.input.INPUT(type="checkbox")
					+e.icon
						+icon('check')
					+e.text.h6 Только Премьеры
			+e.top-column.col-sm-3
				+e.A.top-link.arrow-link__.h6.is-red(href="#")
					+e.text Весь месяц
					+e.icon
						+icon('next')
		+e.list
			+e.item.flex
				+e.item-column.col-sm-3
					+e.A.preview(href="#")
						img(src="/img/poster1.jpg")
						+e.mobile-date
							| 12.03
							span.vr |
							| ПТ 13:00
				+e.item-column.col-sm-3.flex._center
					+e.item-wrap
						+e.date.h4 12 марта
						+e.time.h6 ПТ 13:00
				+e.item-column.col-sm-6
					+e.item-desc.p.b.is-gray
						| Режиссер: 
						span.is-red А. Пермяков
					+e.item-title.h4 Родственные души
					+e.cat-name.p.b.is-gray
						| Драмеди
						span.is-red 16+
					+e.A.btn.btn__._ticket._ticket-border.js-modal(href="#buy")
						+e.text Купить билет
						+e.ticket._left
							+icon('ticket')
						+e.ticket._right
							+icon('ticket')
			+e.item.flex
				+e.item-column.col-sm-3
					+e.A.preview(href="#")
						img(src="/img/poster2.jpg")
						+e.mobile-tag Премьера
						+e.mobile-date
							| 22.03
							span.vr |
							| ПТ 13:00
				+e.item-column.col-sm-3.flex._center
					+e.item-wrap
						+e.tag Премьера
						+e.date.h4 22 марта
						+e.time.h6 ПТ 13:00
				+e.item-column.col-sm-6
					+e.item-desc.p.b.is-gray
						| А. Пермяков по рассказам О. Генри
					+e.item-title.h4 Родственные души
					+e.cat-name.p.b.is-gray
						| Драмеди
						span.is-red 16+
					+e.A.btn.btn__._ticket._ticket-border.js-modal(href="#buy")
						+e.text Купить билет
						+e.ticket._left
							+icon('ticket')
						+e.ticket._right
							+icon('ticket')
			+e.item.flex
				+e.item-column.col-sm-3
					+e.A.preview(href="#")
						img(src="/img/poster3.jpg")
						+e.mobile-date
							| 12.03
							span.vr |
							| ПТ 13:00
				+e.item-column.col-sm-3.flex._center
					+e.item-wrap
						+e.date.h4 12 марта
						+e.time.h6 ПТ 13:00
				+e.item-column.col-sm-6
					+e.item-desc.p.b.is-gray
						| Режиссер: 
						span.is-red А. Пермяков
					+e.item-title.h4 Вождь краснокожих
					+e.cat-name.p.b.is-gray
						| Драмеди
						span.is-red 16+
					+e.A.btn.btn__._ticket._ticket-border.js-modal(href="#buy")
						+e.text Купить билет
						+e.ticket._left
							+icon('ticket')
						+e.ticket._right
							+icon('ticket')