+b.repertoire
	+e.wrap.wrap
		+e.H2.title.h2
			| Репертуар
		+e.inside
			+e.list.flex
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview1.jpg")
						+e.H3.item-title.h5
							| Гастроли и фестивали
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview2.jpg")
						+e.H3.item-title.h5
							| Детский театр 
							br
							| "Золотой ключик"
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview3.jpg")
						+e.H3.item-title.h5
							| Международный фестиваль  «земля. театр. дети»
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview4.jpg")
						+e.H3.item-title.h5
							| Гастроли и фестивали
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview1.jpg")
						+e.H3.item-title.h5
							| Гастроли и фестивали
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview2.jpg")
						+e.H3.item-title.h5
							| Детский театр 
							br
							| "Золотой ключик"
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview3.jpg")
						+e.H3.item-title.h5
							| Международный фестиваль «земля. театр. дети»
				+e.column.col-min-6.col-sm-4.col-md-3
					+e.A.item(href="#")
						+e.preview
							img(src="/img/repertoire__preview4.jpg")
						+e.H3.item-title.h5
							| Гастроли и фестивали