+b.vacancy
	+e.list
		+e.item.flex
			+e.left.col-min-8
				+e.H5.title.h5
					| Аналитик-координатор театральной деятельности
				+e.desc
					| В обязанности аналитика-координатора театральной деятельности входит разнообразные задачи административного характера и всякое разное, ну вот это вот все.
				+e.date.p15 26.02.2020
			+e.right.col-min-4
				+e.price.h5 90 000р
				+e.A.btn.btn._border.js-modal(href="#vacancy") Откликнуться
		+e.item.flex
			+e.left.col-min-8
				+e.H5.title.h5
					| Аналитик-координатор театральной деятельности
				+e.desc
					| В обязанности аналитика-координатора театральной деятельности входит разнообразные задачи административного характера и всякое разное, ну вот это вот все.
				+e.date.p15 26.02.2020
			+e.right.col-min-4
				+e.price.h5 90 000р
				+e.A.btn.btn._border.js-modal(href="#vacancy") Откликнуться
		+e.item.flex
			+e.left.col-min-8
				+e.H5.title.h5
					| Аналитик-координатор театральной деятельности
				+e.desc
					| В обязанности аналитика-координатора театральной деятельности входит разнообразные задачи административного характера и всякое разное, ну вот это вот все.
				+e.date.p15 26.02.2020
			+e.right.col-min-4
				+e.price.h5 90 000р
				+e.A.btn.btn._border.js-modal(href="#vacancy") Откликнуться