.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-width: 170px;
	height: 53px;
	color: #fff;
	cursor: pointer;
	font-size: 17rem;
	text-transform: uppercase;
	padding: 0 30px;
	position: relative;
	font-family: 'Solomon Sans';
	transition: ease .2s;
	&_ticket {
		&:hover {
			color: $red;
			.btn__ticket {
				svg {
					fill: none;
				}
			}
		}
		&-border {
			color: $black;
			.btn__ticket {
				svg {
					fill: none;
				}
			}
			&:hover {
				color: #fff;
				.btn__ticket {
					svg {
						fill: $red;
					}
				}
			}
		}
	}
	&__text {
		position: relative;
		z-index: 2;
	}
	&__ticket {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		overflow: hidden;
		svg {
			max-width: none;
			height: 53px;
			width: auto;
			fill: $red;
			stroke-width: 1.5;
			stroke: $red;
		}
		&_left {
			left: 0;
		}
		&_right {
			right: 0;
			svg {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	&_red {
		background: $red;
		border: 0;
	}
	&_border {
		background: none;
		border: 1px solid $red;
		color: $black;
		&:hover {
			background: $red;
			color: #fff;
		}
	}
}

.btn-rect {
	display: inline-flex;
}

@include max-screen($small_mobile) {
	.btn {
		width: 100%;
		&__text {
			width: 100%;
		}
	}
}
