.acting-groups {
	margin-top: 150rem;
	&__head {
		flex-wrap: nowrap;
	}
	&__slider {
		margin: 60rem -5rem 0 -5rem;
		padding-bottom: 500rem;
	}
	&__slide {
		padding: 0 5rem;
	}
	&__item {
		position: relative;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(51.74deg, #000000 -24.96%, rgba(0, 0, 0, 0) 51.7%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
		}
	}
	&__item-title, &__bottom {
		position: absolute;
		left: 0;
		width: 100%;
		padding-left: 50rem;
		padding-right: 30rem;
	}
	&__item-title {
		top: 50rem;
	}
	&__bottom {
		bottom: 40rem;
	}
	&__ava {
		width: 100rem;
		min-width: 100rem;
		height: 100rem;
		border-radius: 100%;
		margin-right: 20rem;
	}
	&__position {
		margin-bottom: 5rem;
	}
	&__icon {
		width: 26px;
		height: 26px;
		border-radius: 100%;
		background: rgba(#fff, .3);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 10rem;
		fill: #fff;
		cursor: pointer;
		position: relative;
		.icon-info {
			width: 2px;
			height: 12px;
		}
		&-btn {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__tooltip {
		background: #fff;
		border: 1px solid rgba(109, 110, 113, 0.3);
		border-radius: 3px;
		width: 440rem;
		padding: 35rem 30rem;
		position: absolute;
		z-index: 1000;
		top: 100%;
		left: -40rem;
		margin-top: 15rem;
		color: #000;
		transition: ease .3s;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10rem);
		&.is-active {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		&-close {
			position: absolute;
			right: 15px;
			top: 15px;
			width: 16px;
			height: 16px;
			stroke: #000;
			stroke-width: 1.5;
		}
		p {
			font-size: 15rem;
			line-height: 20rem;
			&:not(:last-child) {
				margin-bottom: 20rem;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 45rem;
			top: -14rem;
			border: 6rem solid transparent;
			border-bottom: 8rem solid #fff;
		}
	}
}

@media (min-width: 769px) {
	.acting-groups {
		&__icon {
			&:hover {
				.acting-groups__tooltip {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
		&__tooltip {
			&-close {
				display: none;
			}
		}
	}
}

@include max-screen($large_desktop) {
	.acting-groups {
		&__tooltip {
			&:before {
				left: 48rem;
			}
		}
	}
}

@include max-screen($large_tablet) {
	.acting-groups {
		&__item-title, &__bottom {
			padding-left: 20px;
		}
		&__item-title {
			top: 20px;
		}
		&__bottom {
			bottom: 20px;
		}
	}
}

@include max-screen($large_mobile) {
	.acting-groups {
		margin-top: 30px;
		&__slider {
			margin-top: 30px;
		}
		&__foto {
			overflow: hidden;
			img {
				width: 200%;
				margin-left: -50%;
				max-width: none;
			}
		}
		&__nav {
			min-width: 80px;
			justify-content: flex-end;
		}
		&__tooltip {
			left: -105px;
			width: 300px;
			padding: 30px 15px 15px;
			&-close {
				display: block;
			}
			&:before {
				left: 112px;
			}
			p {
				font-size: 12px;
			}
		}
		&__slide {
			position: relative;
		}
	}
}

@include max-screen(359px) {
	.acting-groups {
		&__tooltip {
			width: 260px;
		}
	}
}


