.history {
	margin-top: 150rem;
	&__bg {
		position: absolute;
		width: 3000px;
		height: 3000px;
		background: rgba(109, 110, 113, 0.05);
		position: absolute;
		left: 50%;
		margin-left: -1500px;
		bottom: 0;
	}
	&__top {
		position: relative;
		padding-bottom: 100rem;
		&-desc {
			font-size: 35rem;
			line-height: 50/35*1;
		}
	}
	&__play {
		margin-top: 85rem;
	}
	&__start {
		overflow: hidden;
		&-info {
			padding: 100rem 0 100rem 0;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 3000px;
				left: 50%;
				margin-left: -1500px;
				height: 100%;
				background: rgba(109, 110, 113, 0.05);
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 680/860*100%;
				background: $gray;
				height: 1px;
			}
		}
		&-img {
			position: relative;
			margin-bottom: 100rem;
		}
		&-quote {
			margin: 60rem 0 100rem 0;
		}
		&-text {
			line-height: 35/20*1;
		}
	}
	&__year {
		font-size: 120rem;
		line-height: 90/120*1;
		font-weight: 300;
		position: relative;
	}
	&__desc {
		position: relative;
	}
	&__number {
		&-list {
			padding-top: 100rem;
			margin-bottom: 150rem;
		}
		&-item {
			margin-top: 50rem;
		}
		&-year {
			font-size: 90rem;
			line-height: 1;
			margin-bottom: 20rem;
			font-weight: 300;
			&_small {
				font-size: 45rem;
			}
		}
		&-text {
			font-size: 20rem;
			line-height: 1.33;
		}
	}
	&__gallery {
		margin-top: 100rem;
	}
	&__bottom {
		&-desc {
			font-size: 30rem;
			line-height: 40/30*1;
			padding-bottom: 40rem;
			border-bottom: 3px solid $red;
			h3, h2 {
				margin-bottom: 60rem;
			}
		}
	}
	.mt100 {
		margin-top: 100rem;
	}
	&__big-foto {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 50%;
			background: rgba(109, 110, 113, 0.05);
		}
		img {
			position: relative;
		}
	}
	.repertoire {
		background: rgba(109, 110, 113, 0.03);
		padding: 150rem 0;
		margin-top: -350rem;
	}
	&__docs {
		margin-top: 150rem;
	}
	&__festival {
		&-years {
			display: inline-flex;
			align-items: center;
			padding-top: 100rem;
			border-top: 1px solid $gray;
			margin-right: 60rem;
			.history__year {
				margin-right: 40rem;
				letter-spacing: -0.02em;
				margin-left: -8rem;
			}
		}
		&-content {
			h3 {
				font-size: 30rem;
				line-height: 1;
				&:not(:first-child) {
					margin-top: 70rem;
				}
			}
			p {
				font-size: 20rem;
				line-height: 35/20*1;
				&:not(:first-child) {
					margin-top: 34rem;
				}
			}
		}
	}
	&__premium {
		margin-top: 100rem;
	}
}

@include max-screen(1800px) {
	.history {
		&__festival {
			&-years {
				flex-wrap: wrap;
				.history__year {
					margin-right: 0;
				}
			}
			&-desc {
				margin-top: 25px;
				br {
					display: none;
				}
			}
		}
	}
}

@include max-screen($large_tablet) {
	.history {
		&__festival {
			&-years {
				.history__year {
					font-size: 100rem;
				}
			}
		}
	}
}

@include max-screen($small_tablet) {
	.history {
		&__top {
			&-desc {
				margin-top: 30px;
			}
		}
		&__start {
			&-info {
				width: 100%;
				&:after {
					width: 100%;
				}
			}
		}
		&__festival {
			&-years {
				display: flex;
				margin-right: 0;
				margin-bottom: 50px;
			}
		}
	}
}

@include max-screen($large_mobile) {
	.history {
		margin-top: 30px;
		&__title {
			br {
				display: none;
			}
		}
		&__top {
			padding-bottom: 50px;
			&-desc {
				font-size: 15px;
				line-height: 25px;
				font-weight: 600;
				letter-spacing: normal;
			}
		}
		&__start {
			&-info {
				padding: 30px 0 30px 0;
				justify-content: space-between;
				&:before {
					height: 400px;
				}
			}
			&-img {
				margin-bottom: 30px;
			}
			&-text {
				font-size: 15px;
				line-height: 25px;
			}
			&-quote {
				margin: 30px 0 30px 0;
			}
		}
		&__year {
			font-size: 25px;
			line-height: 20px;
		}
		&__text {
			br {
				display: none;
			}
		}
		&__number {
			&-list {
				padding-top: 0;
				margin-bottom: 30px;
			}
			&-item {
				margin-top: 30px;
				width: 100%;
			}
			&-year {
				font-size: 25px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			&-text {
				font-size: 15px;
				line-height: 20px;
			}
		}
		&__bottom {
			&-desc {
				font-size: 15px;
				line-height: 25px;
				font-weight: 600;
				padding-bottom: 30px;
				h3, h2 {
					margin-bottom: 30px;
				}
			}
		}
		&__gallery {
			margin-top: 30px;
		}
		.mt100 {
			margin-top: 30px;
		}
		.repertoire {
			margin-top: -420rem;
			padding: 50px 0;
		}
		&__docs {
			margin-top: 50px;
		}
		&__festival {
			&-years {
				padding-top: 30px;
				justify-content: space-between;
				.history__year {
					font-size: 25px;
					font-weight: 500;
				}
			}
			&-desc {
				margin-top: 0;
				max-width: 130px;
				font-size: 15px!important;
				line-height: 1!important;
			}
			&-content {
				h3 {
					font-size: 15px;
					line-height: 20px;
					&:not(:first-child) {
						margin-top: 50px;
					}
				}
				p {
					font-size: 15px;
					line-height: 25px;
					&:not(:first-child) {
						margin-top: 20px;
					}
				}
			}
		}
		&__premium {
			margin-top: 50px;
			margin-bottom: 20px;
		}
	}
}

