.quote {
	position: relative;
	padding: 70rem 0 60rem 40rem;
	border-top: 1px solid $gray_light;
	border-bottom: 1px solid $gray_light;
	&__icon {
		fill: $red;
		position: absolute;
		left: 0;
		top: 60rem;
		width: 17rem;
		height: 14rem;
	}
	&__text {
		font-size: 30rem;
		line-height: 40/30*1;
		max-width: 740rem;
		font-style: italic;
		margin-bottom: 30rem;
	}
}

@include max-screen($large_mobile) {
	.quote {
		padding: 30px 0;
		&__icon {
			position: static;
		}
		&__text {
			font-size: 15px;
			line-height: 20px;
			margin: 20px 0;
		}
		&__avtor {
			font-size: 15px;
		}
	}
}