.team {
	margin-top: 140rem;
	&_single {
		margin-top: 76rem;
	}
	&__bg {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #E5E5E5;
	}
	&__top {
		padding-bottom: 100rem;
		border-bottom: 1px solid rgba(#6D6E71, .3);
		&-desc {
			font-size: 30rem;
			line-height: 40/30*1;
		}
	}
	&__nav {
		margin-top: 60rem;
		font-size: 17rem;
		line-height: 20rem;
		position: relative;
		&-item {
			&:not(:last-child) {
				margin-right: 30rem;
			}
			display: inline-flex;
			align-items: center;
			cursor: pointer;
			transition: ease .2s;
			&:before {
				content: '•';
				color: rgba(#130C0E, .2);
				margin-right: 10rem;
				transition: ease .2s;
			}
			&:hover, &.is-active {
				color: $red;
				&:before {
					color: $red;
				}
			}
		}
		&-head {
			display: none;
			height: 52px;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid rgba(19, 12, 14, 0.2);
			border-bottom: 1px solid rgba(19, 12, 14, 0.2);
			padding-left: 20px;
			padding-right: 20px;
			background: #fff;
		}
		&-icon {
			width: 10px;
			height: 5px;
			fill: none;
			stroke: #000;
			stroke-width: 2px;
		}
		&.is-active {
			.sidebar__nav-icon {
				stroke: $red;
				transform: rotate(-180deg);
			}
		}
	}
	&__tabs {
		margin-top: -40rem;
	}
	&__list {
		margin: 0 -10rem;
	}
	&__item {
		padding: 0 10rem;
		margin-top: 100rem;
		&:hover {
			.team__name {
				color: $red;
			}
		}
	}
	&__foto {
		width: 100%;
		margin-bottom: 40rem;
		display: block;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
		}
	}
	&__name {
		font-size: 30rem;
		line-height: 1;
		transition: ease .2s;
		margin-bottom: 20rem;
		display: block;
	}
	&__position {
		color: $gray;
		font-size: 14rem;
		line-height: 20rem;
		display: block;
	}
	&__tab {
		&:not(:first-child) {
			display: none;
		}
	}
	&__single {
		&-title {
			margin-bottom: 50rem;
		}
		&-position {
			max-width: 490rem;
			margin-bottom: 50rem;
		}
		&-desc {
			font-size: 30rem;
			line-height: 40/30*1;
		}
		&-foto-wrap {
			width: 45%;
		}
		&-foto {
			position: sticky;
			top: 0;
		}
	}
	&__content {
		margin-top: 40rem;
		padding-top: 70rem;
		border-top: 1px solid $red;
		h2 {
			font-size: 30rem;
			line-height: 1;
			font-weight: bold;
			&:not(:first-child) {
				margin-top: 70rem;
			}
		}
		p {
			line-height: 35rem;
			margin-top: 35rem;
		}
		a {
			text-decoration: underline;
		}
	}
}

@include max-screen($small_tablet) {
	.team {
		&__single {
			&-foto {
				img {
					width: 100%;
				}
				&-wrap {
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
	}
}

@include max-screen($large_mobile) {
	.team {
		margin-top: 30px;
		&__top {
			padding-bottom: 0;
			border-bottom: 0;
			&-desc {
				margin-top: 30px;
				font-size: 15px;
				line-height: 25px;
			}
		}
		&__nav {
			margin-left: -20px;
			margin-right: -20px;
			margin-top: 30px;
			&-head {
				display: flex;
				position: relative;
				z-index: 101;
			}
			&-list {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 101;
				background: #fff;
				padding: 20px;
				display: none;
			}
			&:before {
				content: '';
				display: none;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(#000, .6);
				z-index: 100;
				
			}
			&.is-active {
				.team__nav-list, &:before {
					display: block;
				}
			}
			&-item {
				display: block;
				&:before {
					display: none;
				}
				&:not(:last-child) {
					margin-bottom: 30rem;
				}
			}
		}
		&__tabs {
			margin-top: 0;
		}
		&__item {
			margin-top: 30px;
		}
		&__foto {
			margin-bottom: 20px;
			img {
				margin-top: -10%;
				margin-bottom: -20%;
			}
		}
		&__name {
			font-size: 15px;
			line-height: 25px;
			margin-bottom: 10px;
		}
		&__single {
			&-title, &-position {
				margin-bottom: 30px;
			}
			&-desc {
				font-size: 15px;
				line-height: 25px;
				font-weight: 600;
			}
			&-col {
				width: 100%;
			}
		}
		&__content {
			margin-top: 30px;
			padding-top: 20px;
			p {
				font-size: 15px;
				line-height: 25px;
				margin-top: 20px;
			}
			h2:not(:first-child) {
				margin-top: 0;
			}
		}
	}
}